ion--content{
    --pading-top: 40px;
}

.section-header {
    color: white;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
}
ion-slides {
    margin-bottom: 20px;
}

.title {
    color: white;
    font-size: small;
}

ion-slide {
    display: block;
    text-align: left;
}